@import "../mixins";
.featuredCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  height: 100%;
  .cardImage {
    flex: 0 0 45%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cardContent {
    height: 100%;
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .cardInfo {
      padding-bottom: 30px;
      border-bottom: 1px solid #e1e1e1;
      a {
        @include title();
        display: inline-block;
        font-size: 28px;
        line-height: 1.6;
        margin-bottom: 0;
      }
      .cardPrice {
        font-size: 28px;
        font-weight: 700;
        color: #2a2a2a;
      }
    }
    .cardForm {
      margin-top: 24px;
      .form {
        width: 100%;
        height: 100%;
        .sizeControl {
          width: 100%;
          color: #29abe2;
          font-weight: 600;
          position: relative;
          cursor: pointer;
          border-radius: 2px;
          user-select: none;
          font-size: 18px;
          padding: 10px 28px 10px 14px;
          border: 1px solid #29abe2;
          box-shadow: 0 2px 4px #e1e1e1;
          margin-bottom: 24px;
          position: relative;
          .selectOption {
            position: absolute;
            top: -150%;
            box-shadow: 0 -2px 10px #36363633;
            transition: all 0.2s ease-in-out;
            left: -100%;
            background-color: #fff;
            padding: 18px 0;
            min-width: 375px;
            visibility: hidden;
            opacity: 0;
            &.active {
              visibility: visible;
              opacity: 1;
            }
            li {
              // padding: 0 50px;
              padding: 12px 20px;
              font-size: 18px;
              text-align: center;
              transition: color 0.2s ease-in-out;
              color: #29abe2;
              user-select: none;
              &.active {
                color: #1d76bb;
              }
              &:hover {
                color: #1d76bb;
              }
            }
          }
        }
        .quantityControl {
          display: inline-flex;
          height: fit-content;
          border: 1px solid #e1e1e1;
          align-items: center;
          padding: 10px 20px;
          gap: 20px;
          input {
            width: 15px;
            font-size: 15px;
            outline: none;
            border: none;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
            }
          }
          span {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            color: #29abe2;
            &:hover {
              color: #b4b4b4;
            }
          }
        }
        .customNameControl {
          border: 1px solid #29abe2;
          margin: 30px 0;
          border-radius: 2px;
          padding: 11px 25px;
          .customName {
            p:first-of-type {
              position: relative;
              &.active {
                &::after {
                  content: "";
                  position: absolute;
                  left: 5px;
                  top: 2px;
                  border-right: 3px solid white;
                  border-bottom: 3px solid white;
                  height: 10px;
                  width: 5px;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
                }
                .checkBox {
                  background-color: #29abe2;
                }
              }
              .checkBox {
                border-radius: 2px;
                height: 18px;
                width: 18px;
                background-color: #fff;
                border: 1px solid #29abe2;
                position: absolute;
                left: 0;
                top: 2px;
              }

              .content {
                margin-left: 25px;
                font-size: 14px;
                color: #29abe2;
              }
            }
            p {
              color: #848484;
              font-size: 12px;
              margin-top: 5px;
              line-height: 1.65;
            }
          }
        }
        .customNameInput {
          margin-bottom: 18px;
          input {
            padding: 13px 14px;
            border-radius: 2px;
            border: 1px solid #878787;
            width: 100%;
            transition: all 0.1s ease-in-out;
            background: transparent;
            color: #29abe2;
            box-shadow: 0 2px 4px #e1e1e1;
            font-size: 18px;
            font-weight: 500;
            &:active,
            &:focus {
              border-color: #29abe2;
              outline: none;
            }
            &.error {
              border: 1px solid red;
            }
          }
          .errorMsg {
            display: block;
            color: rgb(248, 74, 74);
            font-size: 12px;
            margin: 10px 0;
          }
          .gamertagInfo {
            color: #848484;
            font-size: 12px;
            margin-top: 5px;
            margin-bottom: 10px;
          }
          p {
            font-weight: 500;
            color: #2a2a2a;
            line-height: 1.65;
          }
        }
        button {
          @include primaryBtn();
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .featuredCard {
    .cardContent {
      .cardForm {
        .form {
          .sizeControl {
            .selectOption {
              left: -320px;
              li {
                padding: 10px 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .featuredCard {
    flex-direction: column;
    .cardContent {
      .cardForm {
        .form {
          .sizeControl {
            .selectOption {
              position: fixed;
              top: 100%;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: -1;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              opacity: 1;
              visibility: visible;
              &.active {
                z-index: 9999;
                top: 70%;
              }
            }
          }
        }
      }
    }
  }
}
