.footer {
  background: #2a2a2a;
  color: #fff;
  padding: 75px 0 42px;
  .container {
    .row {
      flex-direction: column;
      align-items: center;
      max-width: 1030px;
      margin: 0 auto;
      .footerLinks {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        h6 {
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 20px;
          letter-spacing: 1.13px;
          text-transform: uppercase;
          color: #fff;
        }
        .linkListContainer {
          flex: 0 0 20%;
          .footerLinkList {
            li {
              margin-bottom: 12px;
              line-height: 1.5;
              &:last-child {
                margin-bottom: 0;
              }
              a {
                color: #fff;
                transition: all 0.2s ease-in-out;
                font-size: 14px;
                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }
        }
        .discount {
          flex: 0 0 35%;
          .formControl {
            p {
              line-height: 1.65;
              font-size: 14px;
            }
            form {
              margin-top: 18px;
              input {
                appearance: none;
                outline: none;
                display: block;
                padding: 13px 14px;
                border-radius: 2px;
                border: 1px solid #878787;
                width: 100%;
                line-height: normal;
                resize: none;
                transition: border-color 0.1s ease-in-out;
                background: transparent;
                color: #29abe2;
                box-shadow: 0 2px 4px #e1e1e1;
                font-size: 18px;
                font-weight: 500;
                &:active,
                &:focus {
                  border-color: #29abe2;
                }
                &.error {
                  border-color: red;
                  box-shadow: 0 2px 4px red;
                }
              }
              button {
                display: block;
                cursor: pointer;
                margin-top: 20px;
                color: #fff;
                border: none;
                padding: 11px 28px 8px;
                line-height: normal;
                font-size: 18px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 1.5px;
                font-weight: 400;
                font-style: normal;
                background-color: transparent;
                transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                box-shadow: 0 2px 4px #e1e1e1;
                border-radius: 2px;
                position: relative;
                &:hover {
                  color: #29abe2;
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
      .footerInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
        p {
          flex: 0 0 49%;
          text-align: left;
        }
      }
      .socialMediaLinks {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        p {
          font-weight: 600;
          font-size: 18px;
          color: #fff;
        }
        .socialMediaLinksList {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;
          li {
            a {
              transition: all 0.2s ease-in-out;
              svg {
                font-size: 24px;
                color: #29abe2;
              }
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .footer {
    .container {
      .row {
        .footerLinks {
          flex-wrap: wrap;
          row-gap: 50px;
          .linkListContainer {
            flex: 0 0 48%;
          }
          .discount {
            flex: 0 0 48%;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .footer {
    .container {
      .row {
        .footerLinks {
          .discount {
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .footer {
    .container {
      .row {
        .footerLinks {
          .linkListContainer {
            flex: 0 0 100%;
          }
        }
        .footerInfo {
          gap: 10px;
          p {
            flex: 0 0 30%;
            &:nth-of-type(2) {
              flex: 0 0 65%;
            }
          }
        }
      }
    }
  }
}
