@import "../mixins";
.cart {
  .container {
    .row {
      flex-direction: column;
      align-items: center;
      min-height: 500px;
      .title {
        color: #1d76bb;
        position: relative;
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: 2px;
        font-size: 36px;
        text-align: center;
        line-height: 1;
        margin: 50px 0;
      }
      .emptyCart {
        .title {
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 1.2px;
          color: #1d76bb;
          text-transform: none;
        }
        a {
          @include primaryBtn();
          font-weight: 600;
          margin-bottom: 20px;
        }
      }
      .checkoutForm {
        width: 80%;
        margin: 35px auto;
        table {
          width: 100%;
          border-spacing: 0 30px;
          thead {
            tr {
              th {
                font-size: 12px;
                color: #2a2a2a;
                font-weight: 500;
                border-bottom: 1px solid #e1e1e1;
                padding-bottom: 10px;
                &:first-of-type {
                  text-align: left;
                }
              }
            }
          }
          tbody {
            tr {
              td {
                padding: 0 10px;
                overflow: hidden;
                &:first-of-type {
                  width: 120px;
                }
                &:nth-of-type(2) {
                  max-width: 250px;
                }
                &:nth-of-type(3) {
                  max-width: 125px;
                }
                &.price {
                  text-align: center;
                }
                a {
                  text-overflow: ellipsis; /* enables ellipsis */
                  white-space: nowrap; /* keeps the text in a single line */
                  overflow: hidden; /* keeps the element from overflowing its parent */
                  color: #2a2a2a;
                  margin-bottom: 10px;
                  display: block;
                }
                p {
                  color: #2a2a2a;
                  font-weight: 700;
                }
                .imageContainer {
                  width: 120px;
                  aspect-ratio: 1 / 1;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
                .quantity {
                  display: inline-flex;
                  border: 1px solid #e1e1e1;
                  align-items: center;
                  padding: 10px 20px;
                  gap: 20px;
                  input {
                    width: 15px;
                    font-size: 15px;
                    outline: none;
                    border: none;
                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                      -webkit-appearance: none;
                    }
                  }
                  span {
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    color: #29abe2;
                    &:hover {
                      color: #b4b4b4;
                    }
                  }
                }
                &.price {
                  font-weight: 400;
                  color: #b4b4b4;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .cart {
    .container {
      .row {
        .checkoutForm {
          width: 100%;
          table {
            tbody {
              tr {
                td {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .cart {
    .container {
      .row {
        .checkoutForm {
          table {
            tbody {
              tr {
                td {
                  padding: 0;
                  font-size: 14px;
                  &:nth-of-type(2) {
                    max-width: 100px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .cart {
    .container {
      .row {
        .checkoutForm {
          table {
            tbody {
              tr {
                td {
                  &:first-of-type {
                    width: 80px;
                  }
                  .imageContainer {
                    width: 80px;
                    aspect-ratio: 1 / 1;
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                    }
                  }
                  .quantity {
                    display: inline-flex;
                    border: 1px solid #e1e1e1;
                    align-items: center;
                    padding: 5px 10px;
                    gap: 10px;
                    input {
                      width: 15px;
                      font-size: 13px;
                      outline: none;
                      border: none;
                      padding-left: 3px;
                      &::-webkit-inner-spin-button,
                      &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                      }
                    }
                    span {
                      cursor: pointer;
                      transition: all 0.2s ease-in-out;
                      color: #29abe2;
                      &:hover {
                        color: #b4b4b4;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
