@import "../mixins";
.forgotPassword {
  width: 100%;
  height: 100%;
  padding: 60px 0;
  .container {
    .row {
      flex-direction: column;
      align-items: center;
      .title {
        @include title();
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        input {
          appearance: none;
          display: block;
          padding: 13px 14px;
          border-radius: 2px;
          border: 1px solid #878787;
          width: 100%;
          line-height: normal;
          resize: none;
          transition: border-color 0.1s ease-in-out;
          background: transparent;
          color: #2a2a2a99;
          box-shadow: 0 2px 4px #e1e1e1;
          font-size: 18px;
          font-weight: 500;
          outline: none;
          margin-bottom: 15px;
          &:active,
          &:focus {
            border-color: #29abe2;
          }
          &::placeholder {
            color: #29abe2;
          }
          &.error {
            color: red;
            border-color: red;
            &::placeholder {
              color: red;
            }
          }
        }
        button {
          @include primaryBtn();
        }
      }
    }
  }
}
